fos_rest:
    disable_csrf_role: ROLE_API
    view:
        formats:
            json: true
            xml:  true
    format_listener:
        rules:
            - { path: '^/', priorities: ['json', 'xml'], fallback_format: json, prefer_extension: true }

sylius_resource:
    resources:
        app.movie:
            classes:
                model: AppBundle\Entity\Movie
        app.genre:
            classes:
                model: AppBundle\Entity\Genre
